.header {
	position: fixed;
    right: 0;
    left: 0;
	margin-bottom: 50px;
	height: 60px;
	background-color: blue;
	box-shadow: 0 2px 10px #565656;
}
.header-logo img {
	width: 40px;
	margin-right: 15px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo {
	height: 60px;
	display: inline-flex;
	align-items: center;
	z-index: 2;
}
.container {
	display: flex;
	justify-content: space-between;
	width:  1440px;
	margin: 0 auto;
	padding-top: 100px;
}
.sidebar {
	border-radius: 6px;
	position: fixed;
	margin-top: 30px;
	margin-right: 20px;
	height: calc(100vh - 130px);
	background-color: orange;
	width: 250px;
}
.shoplist {
	margin-left: 300px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: calc(100vh - 100px);
	width: 1390px;
}

.sidebar h1 {
	text-align: center;
 	margin-top: 6px;
 	margin-bottom: 20px;
 	font-size: 24px;
	font-weight: 900;
}
.sidebar p {
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	font-size: 20px;
}
span {
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	font-size: 20px;
	font-weight: 900;
}
.sidebar select {
	width: calc(100% - 20px);
}
.figure {
	border-radius: 5px;	
	margin-top: 60px;
	width: 250px;
	height: 430px;
	/*white-space: nowrap;     overflow: hidden;  Обрезаем все, что не помещается в область 
    text-overflow: ellipsis;  Добавляем многоточие 
	*/background-color: white;
	border: 1px solid black;
	margin-bottom: 40px;
}

.test {
	width: 100%;
	height: 280px;
}
.nice {
	max-width: 100%;
	font-weight: 900;
	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 5px;
}
.nice span {
	max-width: 100%;
	font-family: 'Roboto', sans-serif;
	color: red;
	font-size: 15px;
	font-weight: 300;
}

.figure button {
	margin-bottom: 10px;
}
.buy, .podrobnee {
	background-color: black;
	color: white;
	font-weight: 900;
	padding: 5px;
	border: none;
}
.podrobnee {
	margin-right: 40px;
	margin-left: 30px;
}